*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --cor-primaria: rgb(196, 0, 0);
    --cor-secundaria: rgb(9, 26, 123);
    --cor-terciaria: rgb(6, 31, 1);
}
header{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(18, 134, 66);
    color: var(--cor-terciaria);
}
main{
    align-items: center;
    justify-content: center;
}